.sae-slovensky-pohar {
  background-color: #303030;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.sae-slovensky-pohar .div {
  background-color: #303030;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.sae-slovensky-pohar .overlap {
  position: absolute;
  width: 1004px;
  height: 948px;
  top: 38px;
  left: 24px;
}

.sae-slovensky-pohar .rectangle {
  position: absolute;
  width: 627px;
  height: 36px;
  top: 231px;
  left: 327px;
  background-color: #3f3f3f;
  border-radius: 20px;
}

.sae-slovensky-pohar .overlap-wrapper {
  position: absolute;
  width: 317px;
  height: 948px;
  top: 0;
  left: 0;
}

.sae-slovensky-pohar .overlap-group {
  position: relative;
  height: 948px;
}

.sae-slovensky-pohar .overlap-2 {
  position: relative;
  width: 339px;
  height: 1019px;
  top: -33px;
  left: -24px;
  background-image: url(./img/rectangle-1-1.svg);
  background-size: 100% 100%;
}

.sae-slovensky-pohar .group {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 926px;
  left: 247px;
  background-color: #303030;
  border-radius: 10px;
}

.sae-slovensky-pohar .img {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 9px;
  left: 9px;
}

.sae-slovensky-pohar .overlap-group-wrapper {
  position: absolute;
  width: 206px;
  height: 45px;
  top: 926px;
  left: 37px;
}

.sae-slovensky-pohar .overlap-group-2 {
  position: relative;
  width: 202px;
  height: 45px;
}

.sae-slovensky-pohar .rectangle-2 {
  position: absolute;
  width: 202px;
  height: 42px;
  top: 0;
  left: 0;
  background-color: #303030;
  border-radius: 10px;
}

.sae-slovensky-pohar .rectangle-3 {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 4px;
  left: 4px;
  background-color: #c3cc5a;
  border-radius: 10px;
}

.sae-slovensky-pohar .tibi-jacki {
  position: absolute;
  top: 3px;
  left: 49px;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 700;
  color: #c3cc5a;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.sae-slovensky-pohar .text-wrapper {
  position: absolute;
  top: 24px;
  left: 49px;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.sae-slovensky-pohar .icons-user {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 17px;
  left: 8px;
}

.sae-slovensky-pohar .line {
  position: absolute;
  width: 218px;
  height: 1px;
  top: 449px;
  left: 48px;
  object-fit: cover;
}

.sae-slovensky-pohar .div-wrapper {
  position: absolute;
  width: 254px;
  height: 42px;
  top: 121px;
  left: 37px;
}

.sae-slovensky-pohar .overlap-3 {
  position: relative;
  width: 252px;
  height: 42px;
  background-color: #303030;
  border-radius: 10px;
}

.sae-slovensky-pohar .text-wrapper-2 {
  position: absolute;
  width: 189px;
  top: 13px;
  left: 50px;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.sae-slovensky-pohar .image-removebg {
  position: absolute;
  width: 225px;
  height: 54px;
  top: 49px;
  left: 51px;
}

.sae-slovensky-pohar .group-wrapper {
  position: absolute;
  width: 223px;
  height: 21px;
  top: 453px;
  left: 28px;
}

.sae-slovensky-pohar .group-2 {
  position: relative;
  height: 21px;
}

.sae-slovensky-pohar .group-3 {
  position: absolute;
  width: 185px;
  height: 21px;
  top: 0;
  left: 40px;
}

.sae-slovensky-pohar .text-wrapper-3 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.sae-slovensky-pohar .icons-chevron-right {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 1px;
  left: 163px;
}

.sae-slovensky-pohar .img-2 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
}

.sae-slovensky-pohar .group-4 {
  position: absolute;
  width: 222px;
  height: 20px;
  top: 547px;
  left: 28px;
}

.sae-slovensky-pohar .text-wrapper-4 {
  position: absolute;
  top: 0;
  left: 39px;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.sae-slovensky-pohar .icons-chevron-right-2 {
  width: 20px;
  height: 20px;
  left: 202px;
  position: absolute;
  top: 0;
}

.sae-slovensky-pohar .group-5 {
  position: absolute;
  width: 223px;
  height: 21px;
  top: 501px;
  left: 28px;
}

.sae-slovensky-pohar .group-6 {
  height: 21px;
}

.sae-slovensky-pohar .overlap-group-3 {
  position: relative;
  width: 223px;
  height: 21px;
}

.sae-slovensky-pohar .group-7 {
  position: absolute;
  width: 223px;
  height: 21px;
  top: 0;
  left: 0;
}

.sae-slovensky-pohar .group-8 {
  position: relative;
  width: 183px;
  height: 21px;
  left: 40px;
}

.sae-slovensky-pohar .group-9 {
  position: relative;
  width: 185px;
  height: 21px;
}

.sae-slovensky-pohar .component {
  position: absolute;
  width: 142px;
  height: 223px;
  top: 165px;
  left: 56px;
}

.sae-slovensky-pohar .component-2 {
  position: relative;
  height: 223px;
}

.sae-slovensky-pohar .prestupy {
  position: absolute;
  width: 117px;
  height: 24px;
  top: 190px;
  left: 24px;
}

.sae-slovensky-pohar .group-10 {
  position: absolute;
  width: 80px;
  height: 24px;
  top: 0;
  left: 39px;
}

.sae-slovensky-pohar .text-wrapper-5 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.sae-slovensky-pohar .img-3 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
}

.sae-slovensky-pohar .kluby {
  position: absolute;
  width: 90px;
  height: 24px;
  top: 145px;
  left: 24px;
}

.sae-slovensky-pohar .text-wrapper-6 {
  position: absolute;
  top: 0;
  left: 39px;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.sae-slovensky-pohar .zvzy {
  position: absolute;
  width: 93px;
  height: 25px;
  top: 99px;
  left: 24px;
}

.sae-slovensky-pohar .text-wrapper-7 {
  position: absolute;
  top: 0;
  left: 40px;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.sae-slovensky-pohar .image {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.sae-slovensky-pohar .group-11 {
  position: absolute;
  width: 98px;
  height: 24px;
  top: 54px;
  left: 28px;
}

.sae-slovensky-pohar .vector {
  position: absolute;
  width: 18px;
  height: 21px;
  top: 1px;
  left: -1px;
}

.sae-slovensky-pohar .text-wrapper-8 {
  position: absolute;
  top: 0;
  left: 35px;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 700;
  color: #c3cc5a;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.sae-slovensky-pohar .domov {
  position: absolute;
  width: 125px;
  height: 35px;
  top: 0;
  left: 0;
}

.sae-slovensky-pohar .group-12 {
  position: relative;
  width: 103px;
  height: 25px;
  top: 5px;
  left: 24px;
}

.sae-slovensky-pohar .text-wrapper-9 {
  position: absolute;
  top: 1px;
  left: 39px;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.sae-slovensky-pohar .rectangle-4 {
  position: absolute;
  width: 7px;
  height: 35px;
  top: 213px;
  left: 43px;
  background-color: #c3cc5a;
  border-radius: 0px 5px 5px 0px;
}

.sae-slovensky-pohar .group-13 {
  position: absolute;
  width: 636px;
  height: 454px;
  top: 33px;
  left: 308px;
}

.sae-slovensky-pohar .group-variant {
  height: 62px;
}

.sae-slovensky-pohar .group-14 {
  width: 642px;
  height: 62px;
}

.sae-slovensky-pohar .overlap-group-4 {
  position: relative;
  width: 636px;
  height: 62px;
}

.sae-slovensky-pohar .rectangle-5 {
  position: absolute;
  width: 633px;
  height: 62px;
  top: 0;
  left: 3px;
  background-color: #3f3f3f;
  border-radius: 20px;
}

.sae-slovensky-pohar .rectangle-6 {
  position: absolute;
  width: 212px;
  height: 62px;
  top: 0;
  left: 0;
  background-color: #3f3f3f;
  border-radius: 20px;
}

.sae-slovensky-pohar .rectangle-7 {
  position: absolute;
  width: 212px;
  height: 62px;
  top: 0;
  left: 209px;
}

.sae-slovensky-pohar .rectangle-8 {
  position: absolute;
  width: 212px;
  height: 62px;
  top: 0;
  left: 421px;
  background-color: #3f3f3f;
  border-radius: 20px;
}

.sae-slovensky-pohar .text-wrapper-10 {
  position: absolute;
  width: 64px;
  top: 18px;
  left: 74px;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.sae-slovensky-pohar .eny {
  position: absolute;
  width: 53px;
  top: 18px;
  left: 288px;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.sae-slovensky-pohar .ml-de {
  position: absolute;
  width: 87px;
  top: 18px;
  left: 476px;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.sae-slovensky-pohar .rectangle-9 {
  position: absolute;
  width: 126px;
  height: 36px;
  top: 231px;
  left: 327px;
  background-color: #3f3f3f;
  border-radius: 20px;
}

.sae-slovensky-pohar .rectangle-10 {
  position: absolute;
  width: 126px;
  height: 36px;
  top: 231px;
  left: 453px;
  background-color: #3f3f3f;
  border-radius: 20px;
}

.sae-slovensky-pohar .rectangle-11 {
  position: absolute;
  width: 126px;
  height: 36px;
  top: 231px;
  left: 576px;
  background-color: #b7b7b7;
  border-radius: 20px;
}

.sae-slovensky-pohar .rectangle-12 {
  position: absolute;
  width: 126px;
  height: 36px;
  top: 231px;
  left: 702px;
  background-color: #3f3f3f;
  border-radius: 20px;
}

.sae-slovensky-pohar .rectangle-13 {
  position: absolute;
  width: 126px;
  height: 36px;
  top: 231px;
  left: 828px;
  background-color: #3f3f3f;
  border-radius: 20px;
}

.sae-slovensky-pohar .kolo {
  position: absolute;
  width: 58px;
  top: 240px;
  left: 363px;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.sae-slovensky-pohar .text-wrapper-11 {
  position: absolute;
  width: 48px;
  top: 240px;
  left: 871px;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.sae-slovensky-pohar .text-wrapper-12 {
  position: absolute;
  width: 76px;
  top: 239px;
  left: 727px;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.sae-slovensky-pohar .text-wrapper-13 {
  position: absolute;
  width: 76px;
  top: 239px;
  left: 601px;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.sae-slovensky-pohar .text-wrapper-14 {
  position: absolute;
  width: 548px;
  top: 145px;
  left: 406px;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.sae-slovensky-pohar .group-15 {
  position: absolute;
  width: 697px;
  height: 185px;
  top: 293px;
  left: 307px;
}

.sae-slovensky-pohar .overlap-4 {
  position: relative;
  height: 185px;
}

.sae-slovensky-pohar .rectangle-14 {
  position: absolute;
  width: 696px;
  height: 171px;
  top: 14px;
  left: 1px;
  background-color: #2c2c2c;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid;
  border-color: #161616;
}

.sae-slovensky-pohar .rectangle-15 {
  position: absolute;
  width: 696px;
  height: 35px;
  top: 0;
  left: 0;
  background-color: #000000;
  border-radius: 10px 10px 0px 0px;
}

.sae-slovensky-pohar .group-16 {
  position: absolute;
  width: 482px;
  height: 17px;
  top: 151px;
  left: 18px;
}

.sae-slovensky-pohar .text-wrapper-15 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.sae-slovensky-pohar .group-17 {
  position: absolute;
  width: 297px;
  height: 17px;
  top: 0;
  left: 187px;
}

.sae-slovensky-pohar .text-wrapper-16 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.sae-slovensky-pohar .uuid {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 189px;
  object-fit: cover;
}

.sae-slovensky-pohar .uuid-2 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 134px;
  object-fit: cover;
}

.sae-slovensky-pohar .FK-humenn {
  position: absolute;
  top: 0;
  left: 215px;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.sae-slovensky-pohar .group-18 {
  position: absolute;
  width: 514px;
  height: 19px;
  top: 51px;
  left: 18px;
}

.sae-slovensky-pohar .text-wrapper-17 {
  position: absolute;
  top: 2px;
  left: 0;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.sae-slovensky-pohar .group-19 {
  position: absolute;
  width: 387px;
  height: 19px;
  top: 0;
  left: 129px;
}

.sae-slovensky-pohar .FK-pohronie-iar-nad {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.sae-slovensky-pohar .FK-slavoj-trebi-ov {
  position: absolute;
  top: 2px;
  left: 273px;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.sae-slovensky-pohar .uuid-3 {
  position: absolute;
  width: 16px;
  height: 17px;
  top: 1px;
  left: 192px;
  object-fit: cover;
}

.sae-slovensky-pohar .uuid-4 {
  position: absolute;
  width: 16px;
  height: 17px;
  top: 1px;
  left: 247px;
  object-fit: cover;
}

.sae-slovensky-pohar .group-20 {
  position: absolute;
  width: 696px;
  height: 50px;
  top: 85px;
  left: 1px;
  background-color: #222222;
  border-right-width: 1px;
  border-right-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: #161616;
}

.sae-slovensky-pohar .group-21 {
  position: relative;
  width: 507px;
  height: 17px;
  top: 16px;
  left: 16px;
}

.sae-slovensky-pohar .group-22 {
  position: absolute;
  width: 281px;
  height: 17px;
  top: 0;
  left: 228px;
}

.sae-slovensky-pohar .uuid-5 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 148px;
  object-fit: cover;
}

.sae-slovensky-pohar .MFK-doln-kub-n {
  position: absolute;
  top: 0;
  left: 174px;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.sae-slovensky-pohar .uuid-6 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 93px;
  object-fit: cover;
}

.sae-slovensky-pohar .group-23 {
  position: absolute;
  width: 107px;
  height: 16px;
  top: 13px;
  left: 20px;
}

.sae-slovensky-pohar .text-wrapper-18 {
  position: absolute;
  width: 105px;
  top: 0;
  left: 0;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.sae-slovensky-pohar .text-wrapper-19 {
  position: absolute;
  width: 76px;
  top: 239px;
  left: 478px;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.sae-slovensky-pohar .news {
  position: absolute;
  width: 360px;
  height: 948px;
  top: 38px;
  left: 1043px;
}

.sae-slovensky-pohar .overlap-5 {
  position: relative;
  width: 434px;
  height: 1019px;
  top: -33px;
  left: -37px;
  background-image: url(./img/rectangle-10.svg);
  background-size: 100% 100%;
}

.sae-slovensky-pohar .group-24 {
  position: absolute;
  width: 329px;
  height: 30px;
  top: 63px;
  left: 54px;
}

.sae-slovensky-pohar .icons-chevron-right-3 {
  width: 30px;
  height: 30px;
  left: 297px;
  position: absolute;
  top: 0;
}

.sae-slovensky-pohar .text-wrapper-20 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.sae-slovensky-pohar .group-25 {
  position: absolute;
  width: 329px;
  height: 276px;
  top: 120px;
  left: 54px;
}

.sae-slovensky-pohar .rectangle-16 {
  position: absolute;
  width: 327px;
  height: 200px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.sae-slovensky-pohar .p {
  position: absolute;
  width: 296px;
  top: 210px;
  left: 0;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.sae-slovensky-pohar .icons-bookmark {
  top: 210px;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 303px;
}

.sae-slovensky-pohar .overlap-group-5 {
  position: absolute;
  width: 331px;
  height: 201px;
  top: 426px;
  left: 54px;
}

.sae-slovensky-pohar .group-26 {
  position: absolute;
  width: 327px;
  height: 80px;
  top: 5px;
  left: 0;
}

.sae-slovensky-pohar .icons-bookmark-2 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 6px;
  left: 303px;
}

.sae-slovensky-pohar .rectangle-17 {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.sae-slovensky-pohar .group-27 {
  position: absolute;
  width: 331px;
  height: 201px;
  top: 0;
  left: 0;
}

.sae-slovensky-pohar .text-wrapper-21 {
  position: absolute;
  width: 197px;
  top: 113px;
  left: 98px;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.sae-slovensky-pohar .text-wrapper-22 {
  position: absolute;
  width: 197px;
  top: 0;
  left: 95px;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.sae-slovensky-pohar .icons-bookmark-3 {
  top: 121px;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 303px;
}

.sae-slovensky-pohar .rectangle-18 {
  top: 115px;
  position: absolute;
  width: 80px;
  height: 80px;
  left: 0;
  object-fit: cover;
}

.sae-slovensky-pohar .group-28 {
  position: absolute;
  width: 329px;
  height: 88px;
  top: 651px;
  left: 54px;
}

.sae-slovensky-pohar .text-wrapper-23 {
  position: absolute;
  width: 203px;
  top: 0;
  left: 95px;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.sae-slovensky-pohar .group-29 {
  position: absolute;
  width: 329px;
  height: 110px;
  top: 759px;
  left: 54px;
}

.sae-slovensky-pohar .icons-bookmark-4 {
  top: 8px;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 303px;
}

.sae-slovensky-pohar .rectangle-19 {
  top: 2px;
  position: absolute;
  width: 80px;
  height: 80px;
  left: 0;
  object-fit: cover;
}

.sae-slovensky-pohar .group-30 {
  position: absolute;
  width: 329px;
  height: 96px;
  top: 871px;
  left: 54px;
}

.sae-slovensky-pohar .text-wrapper-24 {
  position: absolute;
  width: 197px;
  top: 6px;
  left: 95px;
  font-family: "Sofia Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}
